[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
whitenoise = "*"
psycopg2 = "*"
pillow = "*"
knox = "*"
gunicorn = "*"
drf-yasg = "*"
django-rest-knox = "*"
django-heroku = "*"
django-cors-headers = "*"
boto3 = "*"
python-dotenv = "*"
dj-database-url = "*"

[dev-packages]

[requires]
python_version = "3.9"
