{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/about.css' %}">
</head>
<body>
    <div class="con">
        <nav class="navbar fixed-top con navbar-expand-lg ">
            <div class="container-fluid">
                <a class="navbar-brand" href="/"><img src="{% static 'img/pay.jpeg' %}" alt="logo"></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <img src="{% static 'img/menu.png' %}" alt="toggler">
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                    <input class="search" placeholder="Search" type="search" name="" id="">
                    </li>
                    <!-- <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" @click="displayDropdown()" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Invest
                        </a>
                        <ul class="dropdown-menu" v-if="dropdown">
                            <div>
                                <li><h6>Top selling cryptocurrencies</h6> </li>
                                <li><img src="bitcoin.png" alt=""> Bitcoin </li>
                                <li> <img src="ethereum.png" alt=""> Ethereum</li>
                                <li> <img src="tether.png" alt=""> Tether</li>
                                <li> <img src="bnb.png" alt=""> BNB</li>
                            </div>
                            <div>
                                <li><h6>Top selling stocks</h6> </li>
                                <li><img src="apple.png" alt=""> Apple </li>
                                <li> <img src="tesla.png" alt=""> Tesla</li>
                                <li> <img src="pay.png" alt=""> Paypal</li>
                                <li> <img src="twitter.png" alt=""> Twitter</li>
                            </div>
                            
                        </ul>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link" href="about">Company</a>
                    </li> -->
                    <!-- <li class="nav-item">
                    <a class="nav-link " href="#help">Help</a>
                    </li> -->
                </ul>
                <form class="d-flex button-group" role="search">
                    <a class="login" style="text-decoration:none" href="{% url 'account:login' %}">Login</a>
                    <a class="sign" style="text-decoration:none" href="{% url 'account:registration' %}">Signup</a>
                </form>
                </div>
            </div>
        </nav>
    </div>
    <div class="us">
        <div class="us-text">
            <h4>ABOUT US</h4>
            <h2>Investing.</h2>
            <h2>Now available to everyone.</h2>
            <p>At Pay Bay Invest, we see investing differently. Today's financial system is complex, exclusive and expensive - making it hard for the typical person to start investing.</p>
            <p>So, we're building a platform without digital walls and complex barriers. A platform that empowers you to see new possibilities for your money - and helps make them a reality.</p>
        </div>
        <div class="us-img">
            <img src="{% static 'img/mavin.jpg' %}" alt="">
        </div>
    </div>
    <hr>
    <div class="leads">
        <div class="lead-img">
            <img src="{% static 'img/lead1.jpg' %}" alt=""> 
            <p>Christian Bentley</p>
            <p>CEO</p>
        </div>
        <div class="lead-img">
            <img src="{% static 'img/lead3.jpg' %}" alt="">
            <p>Precious Fredrich</p>
            <p>CTO</p>
        </div>
        <div class="lead-img">
            <img src="{% static 'img/lead2.jpg' %}" alt=""> 
            <p>Morgan Freeman</p>
            <p>HR</p>
        </div>
    </div>
    <hr>
    <div class="we">
        <div class="we-text">
            <h2>Who we are</h2>
            <p>Pay Bay Invest was founded in Vienna, Austria with the aim of making investing accessible for everyone. Our goals since day one was to reimagine what it means to invest, by making simple, easy to use financial products for everyone.</p>
            <p>Now, 8 years later, and with more than 730 team members and 3.5million users, we're one of the fastest growing fintechs in Europe. With a PSD2 payment service provider licence, a state-of-the-art security and streamlined user experience, we make it possible for both first-time investors, and seasoned experts to invest in what they believe in.</p>
        </div>
        <div class="we-card">
            <div class="card">
                <h3>730+</h3>
                <p>Team members</p>
            </div>
            <div class="card">
                <h3>50+</h3>
                <p>Nationalities in the team</p>
            </div>
            <div class="card">
                <h3>3,500,000</h3>
                <p>Users worldwide</p>
            </div>
        </div>
    </div>
    <hr>
    <div class="change">
        <h2>We're changing the way the world views investing</h2>
        <p>Pay Bay Invest is backed by a team of world-class experts and the best technology talent. To stay at the forefront of innovation, we're always working on strengthening our position as Europe's leading digital asset platform.</p>
        <button>Join our team</button>
    </div>
    <hr>
    <div class="do">
        <h2>What we do</h2>
        <p>Our user-friendly, trade-everything platform empowers you to invest in the stocks, crptocurrencies and metals you want, with any amount of money.</p>
        <div class="do-cards">
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> Buy, sell or swap 2000+ digital assets like crypto, stocks, precious metals, ETFs and crypto indices.</p>
            </div>
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> Automate regular investments with savings plans.</p>
            </div>
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> Invest in any asset on Pay Bay Invest from $1</p>
            </div>
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> Wide range of payment and payout providers.</p>
            </div>
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> Use EUR, CHF, GBP, USD, PLN, DKK, SEK, HUF, CZK or TRY to pay or cash out.</p>
            </div>
            <div>
                <p><img src="{% static 'img/bullet.svg' %}" alt=""> We are fully licenced.</p>
            </div>
        </div>
        <div class="do-button">
            <a href="{% url 'account:login' %}"><button>Start Investing</button></a>
        </div>
    </div>
    <hr>
    <div class="footer">
        <div class="logo">
            <img src="{% static 'img/pay.jpeg' %}" alt="" style="margin-top: 1rem;">
        </div>
        <div class="footer-grid">
            <div class="footer-grid-one">
                <h3>Invest</h3>
                <p>Cryptocurrencies</p>
                <p>Crypto Indices</p>
                <p>Stocks*</p>
                <p>ETFs</p>
                <p>Metals</p>
                <p>Commodities</p>
            </div>
            <div class="footer-grid-one">
                <h3>Earn</h3>
                <p>Staking</p>
                <p>BEST</p>
                <p>Tell-a-Friend</p>
                <p>Affiliate programme</p>
                <p>Ambassador programme</p>
            </div>
            <div class="footer-grid-one">
                <h3>Learn</h3>
                <p>Academy</p>
                <p>Maker and taker fees</p>
                <p>6 questions about Bitcoin</p>
                <p>Buy my first digital assets</p>
                <p>What are NFTs</p>
            </div>
            <div class="footer-grid-one">
                <h3>Features</h3>
                <p>Payments</p>
                <p>Savings plan</p>
                <p>Swap</p>
                <p>Plus</p>
            </div>
        </div>
        <div class="footer-grid">
            <div class="footer-grid-one">
                <h3>Products</h3>
                <p>Card</p>
                <p>Pay Bay Invest To Go</p>
                <p>BEST</p>
                <p>Pantos</p>
                <p>App</p>
                <p>Pay Bay Invest Custody</p>
            </div>
            <div class="footer-grid-one">
                <h3>Pay Bay Invest Pro</h3>
                <p>Home</p>
                <p>Markets</p>
                <p>Fees</p>
                <p>Pro API</p>
                <p>Institutions & Partners</p>
            </div>
            <div class="footer-grid-one">
                <h3>White Label</h3>
                <p>Home</p>
                <p>How it works</p>
                <p>Asset offering</p>
                <p>Use cases</p>
                
            </div>
            <div class="footer-grid-one">
                <h3>Get the app</h3>
            </div>
        </div>
        <div class="footer-closer">
             <span>Privacy policy</span> <span>Terms & Conditions</span>
            <span>Email us @ contact@paybay-invest.com</span> 
            <div class="bitpanda">
               <span>&#169; 2022 Pay Bay Invest</span> 
            </div>
            
        </div>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>